@model IEnumerable<World_Wide_Parcel.Models.Recievers>

@{
    ViewData["Title"] = "Index";
}
<!--code to change the test' position from left to right-->
<div class="text-center">

    <header>
        <!--z-index code to display image on the reciver page behind the text-->
        <style>
            img {
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: -1;
                height: 100%;
                width: 100%;
                object-fit:cover;
            }
        </style>
    </header>
    
    <img src="~/images/1image.jpg" height=" 800" weight="1500" />
    <!--code to increse the size of heading and to change its color and bold it-->
    <h1 class="display-4"><b><p style="color:black;">Recivers</b></h1></p>
</div>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile_Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile_Number)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
